# variables de entorno minimas para el proyecto de integración III

# BASE DE DATOS (TimescaleDB / PostgreSQL)
POSTGRES_USER=admin
POSTGRES_PASSWORD=cambia_esta_contrasena
POSTGRES_DB=frigorifico

DB_HOST=timescaledb
DB_PORT=5432
DB_NAME=frigorifico
DB_USER=admin
DB_PASSWORD=cambia_esta_contrasena

# MQTT (Mosquitto)
MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=1883
MQTT_USER=admin
MQTT_PASSWORD=cambia_esta_contrasena

# KAFKA
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# SEGURIDAD (JWT)
JWT_SECRET_KEY=cambia_esta_clave_secreta
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60

# GEMINI (Asistente IA)
GEMINI_API_KEY=tu_api_key_aqui